body{
    margin: 0px;
    padding: 0px;
    background: url('img/13.jpg');
    color: white;
    
}
.header{
    font-family: 'Baloo Bhai 2', cursive;
   margin: 0px 12px;
   padding: 12px 12px;
}

.left{
    position: absolute;
    left: 32px;
    top: 12px;
    display: inline-block;

    /* border : 2px solid pink; */
    
}
.left img{
    width: 90px;
    filter: invert(100%);
    font-size: 20px;

}
.center{
    display: block;
    width: 35%;
    margin: 12px auto;
    /* border : 2px solid yellow; */
}
.right{
    position: absolute;
    right: 32px;
    top: 15px;
    display: inline-block;
    /* border : 2px solid green; */
}

.navbar{
    display: inline-block;
    font-style: bold;
}

.navbar li{
    display: inline-block;
    font-size: 20px;
}

.navbar li a {
    color: black;
    text-decoration: none;
    padding: 12px;
}

.navbar li a:hover ,.navbar li a.active  {
   text-decoration: underline;
   color: grey;
}

.btn{
    margin: 12px 10px ;
    padding: 4px 14px;
    font-size: 16px;
    color: white;
    background-color: black;
    border-radius: 30px;
    border-color: gray;
    cursor: pointer;

}

.btn a{
    color: white;
    text-decoration:none; 
}
.btn:hover{
    background-color: grey;
}


.contanier{
    display: block;
    width: 35%;
    margin: 12px auto;
    background-color: black;
}